* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    overflow: hidden;
}

.main {
    width: 100vw;
    height: 100vh;
    float: left;
}

.container {
    width: 90vw;
    margin: 0 auto;
}

.main-outer {
    width: 100vw;
    float: left;
    padding: 3em;
    display: flex;
}

.main-left {
    width: 25vw;
    float: left;
}

.main-left aside {
    width: 20vw;
    height: 89vh;
    background: #333;
    height: calc(100vh-6em);
    float: left;
    padding: 30px;
}

.main-left aside h3 {
    color: #fff;
    font-size: 35px;
    font-family: Gilroy;
    font-weight: 600;
    margin-bottom: 20px;
}

.main-left p {
    margin-bottom: 15px;
}

.main-left label {
    color: #fff;
    display: block;
    font-size: 2.5vh;
    padding-bottom: 10px;
}

.main-left aside button {
    float: right;
    background: #fff;
    border: none;
    border-radius: 5px;
    height: 35px;
    padding: 0 26px;
    font-size: 15px;
    color: #000;
    cursor: pointer;
    margin-top: 20px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 18px;
    border-radius: 12px;
    background: #c9c4c4;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.main-right {
    width: 65vw;
    float: right;
    height: 89vh;
}

#myform {
    display: flex;
    height: 7vh;
    justify-content: space-between;
    position: relative;
}

#onlineurl {
    width: 42vw;
    height: 7vh;
    padding: 1vh 1vw;
    margin-right: 0.2vw;
}

#myform button {
    height: 7vh;
    width: 9.7vw;
    background: #333;
    color: #fff;
    font-family: Gilroy;
    font-size: 2vh;
    font-weight: 460;
}

.imgarea {
    height: 77vh;
    margin-top: 5vh;
    background-color: #333;
    position: relative;
    overflow: hidden;
}

.imgarea img {
    width: 100%;
    height: 100%;
}

.contain {
    width: 9vw;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.select-image {
    width: 100%;
    height: 100%;
    background-color: #333;
}

.select-image h4 {
    font-weight: 500;
    font-size: 2vh;
    color: #fff;
}

.full {
    display: flex;
    justify-content: space-between;
}

@media(max-width:550px) {

    .main-left aside {
        width: 100vw;
        height: 58vh;
        padding: 2px 5px;
        margin-left: -17vw;
        position: absolute;
        bottom: 1vh;
    }

    .main {
        height: 150vh;
    }

    .main-right {
        height: 38vh;
        position: absolute;
        top: 1vh;
        width: 100vw;
        left: 1vw;
    }

    .imgarea img {
        height: 30vh;
        width: 100vw;
    }

    .imgarea {
        border: none;
        height: 28.5vh;
        margin-top: 2vh;
        position: relative;
        margin-left: 0vw;
        background-color: black;
    }

    #myform button {
        height: 7vh;
        width: 27.7vw;
        font-family: Gilroy;
        font-size: 1.5vh;
        margin-left: -11vh;
        margin-bottom: 2vh;
    }

    .main-left aside button {
        position: relative;
        bottom: 1vh;
        right: 1.5vh;
    }

    #onlineurl {
        width: 45vw;
        height: 7vh;
    }

    .main-left aside h3 {
        font-size: 25px;
    }

    .main-left label {
        font-size: 4.3vw;
    }

    .slider {
        height: 20px;
        width: 95vw;
    }

    #myform {
        width: 75vw;
        left: 0.2vh;
    }

    #contrast1 {
        display: none;
    }

    .contain {
        width: 20vw;
        height: 7vh;
        margin-right: 3vw;
        margin-top: -1vh;
        background-color: #fff;
    }

    .select-image {
        margin-top: 2vh;
    }

    .select-image h4 {
        font-weight: 500;
    }

}

@media(max-width:380px) {
    .main-left aside {
        height: 66vh;
    }
}
